<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/Bag/bg_ame_shade_12_12_12_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{412, 487}, {43, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {43, 42}}</string>
			<key>sourceSize</key>
			<string>{43, 42}</string>
		</dict>
		<key>ccbResources/Bag/bg_color_12_12_12_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{354, 487}, {128, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 56}}</string>
			<key>sourceSize</key>
			<string>{128, 56}</string>
		</dict>
		<key>ccbResources/Bag/bg_equipment_name.png</key>
		<dict>
			<key>frame</key>
			<string>{{575, 1}, {424, 109}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {424, 109}}</string>
			<key>sourceSize</key>
			<string>{424, 109}</string>
		</dict>
		<key>ccbResources/Bag/bg_label.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {572, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {572, 77}}</string>
			<key>sourceSize</key>
			<string>{572, 77}</string>
		</dict>
		<key>ccbResources/Bag/bg_progress_above.png</key>
		<dict>
			<key>frame</key>
			<string>{{999, 244}, {241, 21}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {241, 21}}</string>
			<key>sourceSize</key>
			<string>{245, 25}</string>
		</dict>
		<key>ccbResources/Bag/bg_progress_above1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001, 1}, {241, 21}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {241, 21}}</string>
			<key>sourceSize</key>
			<string>{245, 25}</string>
		</dict>
		<key>ccbResources/Bag/bg_progress_below.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 764}, {245, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {245, 25}}</string>
			<key>sourceSize</key>
			<string>{245, 25}</string>
		</dict>
		<key>ccbResources/Bag/bg_tagboard_20-20_20_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 212}, {73, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {73, 68}}</string>
			<key>sourceSize</key>
			<string>{73, 68}</string>
		</dict>
		<key>ccbResources/Bag/btn_add_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{28, 943}, {72, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 71}}</string>
			<key>sourceSize</key>
			<string>{72, 71}</string>
		</dict>
		<key>ccbResources/Bag/btn_add_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{174, 943}, {72, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 71}}</string>
			<key>sourceSize</key>
			<string>{72, 71}</string>
		</dict>
		<key>ccbResources/Bag/btn_all_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{265, 647}, {158, 87}}</string>
			<key>offset</key>
			<string>{10, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 0}, {158, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_all_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 764}, {177, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {177, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_common.png</key>
		<dict>
			<key>frame</key>
			<string>{{553, 112}, {284, 70}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {284, 70}}</string>
			<key>sourceSize</key>
			<string>{284, 77}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_common_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{133, 487}, {275, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 64}}</string>
			<key>sourceSize</key>
			<string>{275, 64}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_common_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{67, 487}, {275, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 64}}</string>
			<key>sourceSize</key>
			<string>{275, 64}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{553, 184}, {284, 70}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {284, 70}}</string>
			<key>sourceSize</key>
			<string>{284, 77}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_light_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 487}, {275, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 64}}</string>
			<key>sourceSize</key>
			<string>{275, 64}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_light_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{199, 487}, {275, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 64}}</string>
			<key>sourceSize</key>
			<string>{275, 64}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 146}, {550, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 64}}</string>
			<key>sourceSize</key>
			<string>{550, 64}</string>
		</dict>
		<key>ccbResources/Bag/btn_bluelabel_middle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 80}, {550, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 64}}</string>
			<key>sourceSize</key>
			<string>{550, 64}</string>
		</dict>
		<key>ccbResources/Bag/btn_consume_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{268, 284}, {158, 87}}</string>
			<key>offset</key>
			<string>{10, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19, 0}, {158, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_consume_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 290}, {177, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {177, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_equipment_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{364, 212}, {158, 87}}</string>
			<key>offset</key>
			<string>{10, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 0}, {158, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_equipment_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{179, 290}, {177, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {177, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_hero_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{839, 201}, {158, 87}}</string>
			<key>offset</key>
			<string>{10, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 0}, {158, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_hero_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{28, 764}, {177, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {177, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_largest_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{144, 212}, {99, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {99, 71}}</string>
			<key>sourceSize</key>
			<string>{99, 71}</string>
		</dict>
		<key>ccbResources/Bag/btn_largest_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{247, 943}, {99, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {99, 71}}</string>
			<key>sourceSize</key>
			<string>{99, 71}</string>
		</dict>
		<key>ccbResources/Bag/btn_minus_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 943}, {72, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 71}}</string>
			<key>sourceSize</key>
			<string>{72, 71}</string>
		</dict>
		<key>ccbResources/Bag/btn_minus_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{71, 212}, {72, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 71}}</string>
			<key>sourceSize</key>
			<string>{72, 71}</string>
		</dict>
		<key>ccbResources/Bag/btn_scroll_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{265, 487}, {158, 87}}</string>
			<key>offset</key>
			<string>{10, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19, 0}, {158, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_scroll_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{206, 764}, {177, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {177, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_turret_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{839, 112}, {158, 87}}</string>
			<key>offset</key>
			<string>{10, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 0}, {158, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/btn_turret_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 290}, {177, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {177, 87}}</string>
			<key>sourceSize</key>
			<string>{177, 87}</string>
		</dict>
		<key>ccbResources/Bag/chartlet.png</key>
		<dict>
			<key>frame</key>
			<string>{{245, 212}, {70, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 117}}</string>
			<key>sourceSize</key>
			<string>{70, 117}</string>
		</dict>
		<key>ccbResources/Bag/icon_arrows.png</key>
		<dict>
			<key>frame</key>
			<string>{{268, 444}, {36, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 37}}</string>
			<key>sourceSize</key>
			<string>{36, 37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Bag.png</string>
	</dict>
</dict>
</plist>
