<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/EvolveSuccess/bg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {623, 154}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {623, 154}}</string>
			<key>sourceSize</key>
			<string>{623, 154}</string>
		</dict>
		<key>ccbResources/EvolveSuccess/bg_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 244}, {611, 552}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {611, 552}}</string>
			<key>sourceSize</key>
			<string>{611, 552}</string>
		</dict>
		<key>ccbResources/EvolveSuccess/bg_paper.png</key>
		<dict>
			<key>frame</key>
			<string>{{555, 244}, {605, 418}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {605, 418}}</string>
			<key>sourceSize</key>
			<string>{605, 418}</string>
		</dict>
		<key>ccbResources/EvolveSuccess/evolve_success.png</key>
		<dict>
			<key>frame</key>
			<string>{{626, 71}, {240, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 68}}</string>
			<key>sourceSize</key>
			<string>{240, 68}</string>
		</dict>
		<key>ccbResources/EvolveSuccess/quality_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{870, 1}, {241, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {241, 68}}</string>
			<key>sourceSize</key>
			<string>{241, 68}</string>
		</dict>
		<key>ccbResources/EvolveSuccess/txt_team.png</key>
		<dict>
			<key>frame</key>
			<string>{{626, 1}, {242, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 68}}</string>
			<key>sourceSize</key>
			<string>{242, 68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>EvolveSuccess.png</string>
	</dict>
</dict>
</plist>
