<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/GameShowScene/bg_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1191, 778}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1191, 778}}</string>
			<key>sourceSize</key>
			<string>{1191, 778}</string>
		</dict>
		<key>ccbResources/GameShowScene/bg_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1705, 1}, {287, 76}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {287, 76}}</string>
			<key>sourceSize</key>
			<string>{287, 76}</string>
		</dict>
		<key>ccbResources/GameShowScene/icon_state_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1762, 79}, {56, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 56}}</string>
			<key>sourceSize</key>
			<string>{56, 56}</string>
		</dict>
		<key>ccbResources/GameShowScene/icon_state_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1704, 79}, {56, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 56}}</string>
			<key>sourceSize</key>
			<string>{56, 56}</string>
		</dict>
		<key>ccbResources/GameShowScene/txt_hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194, 69}, {508, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {508, 66}}</string>
			<key>sourceSize</key>
			<string>{508, 66}</string>
		</dict>
		<key>ccbResources/GameShowScene/txt_turret.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194, 1}, {509, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {509, 66}}</string>
			<key>sourceSize</key>
			<string>{509, 66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>GameShowScene.png</string>
	</dict>
</dict>
</plist>
