<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/itemicons/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 328}, {92, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 4}, {92, 92}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/fragment_frame_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 236}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/fragment_frame_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{103, 124}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/fragment_frame_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{103, 226}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/fragment_frame_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 226}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/item1.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 422}, {85, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 84}}</string>
			<key>sourceSize</key>
			<string>{85, 84}</string>
		</dict>
		<key>ccbResources/itemicons/item_401.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 1}, {122, 121}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 9}, {122, 121}}</string>
			<key>sourceSize</key>
			<string>{136, 136}</string>
		</dict>
		<key>ccbResources/itemicons/item_402.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {122, 121}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 9}, {122, 121}}</string>
			<key>sourceSize</key>
			<string>{136, 136}</string>
		</dict>
		<key>ccbResources/itemicons/item_403.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 1}, {122, 121}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 9}, {122, 121}}</string>
			<key>sourceSize</key>
			<string>{136, 136}</string>
		</dict>
		<key>ccbResources/itemicons/item_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 1}, {116, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 116}}</string>
			<key>sourceSize</key>
			<string>{116, 116}</string>
		</dict>
		<key>ccbResources/itemicons/item_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 119}, {116, 115}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 115}}</string>
			<key>sourceSize</key>
			<string>{116, 116}</string>
		</dict>
		<key>ccbResources/itemicons/item_frame_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 124}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/item_frame_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 124}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/item_frame_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{103, 328}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/itemicons/item_frame_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 338}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>itemicons.png</string>
	</dict>
</dict>
</plist>
