<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/LotteryScene/bg_black.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 1}, {242, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 70}}</string>
			<key>sourceSize</key>
			<string>{242, 70}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{383, 73}, {340, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {340, 72}}</string>
			<key>sourceSize</key>
			<string>{340, 72}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{751, 1}, {360, 636}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {360, 636}}</string>
			<key>sourceSize</key>
			<string>{360, 636}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {202, 704}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {202, 704}}</string>
			<key>sourceSize</key>
			<string>{202, 704}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{45, 1826}, {202, 704}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {202, 704}}</string>
			<key>sourceSize</key>
			<string>{202, 704}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 827}, {326, 330}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {326, 330}}</string>
			<key>sourceSize</key>
			<string>{326, 330}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{124, 1413}, {361, 313}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {361, 313}}</string>
			<key>sourceSize</key>
			<string>{361, 313}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_prize.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 707}, {202, 704}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {202, 704}}</string>
			<key>sourceSize</key>
			<string>{202, 704}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_rune.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 1}, {283, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {283, 296}}</string>
			<key>sourceSize</key>
			<string>{283, 296}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_title1.png</key>
		<dict>
			<key>frame</key>
			<string>{{307, 469}, {356, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {356, 90}}</string>
			<key>sourceSize</key>
			<string>{356, 90}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_title2.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 527}, {356, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {356, 90}}</string>
			<key>sourceSize</key>
			<string>{356, 90}</string>
		</dict>
		<key>ccbResources/LotteryScene/bg_title3.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 885}, {356, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {356, 90}}</string>
			<key>sourceSize</key>
			<string>{356, 90}</string>
		</dict>
		<key>ccbResources/LotteryScene/corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{124, 1776}, {42, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {42, 42}}</string>
			<key>sourceSize</key>
			<string>{46, 46}</string>
		</dict>
		<key>ccbResources/LotteryScene/icon_boc_dia.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 342}, {174, 174}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 174}}</string>
			<key>sourceSize</key>
			<string>{174, 174}</string>
		</dict>
		<key>ccbResources/LotteryScene/icon_boc_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 249}, {174, 174}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 174}}</string>
			<key>sourceSize</key>
			<string>{174, 174}</string>
		</dict>
		<key>ccbResources/LotteryScene/icon_boc_guanggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 73}, {176, 174}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {176, 174}}</string>
			<key>sourceSize</key>
			<string>{177, 174}</string>
		</dict>
		<key>ccbResources/LotteryScene/icon_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1413}, {411, 121}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {411, 121}}</string>
			<key>sourceSize</key>
			<string>{412, 131}</string>
		</dict>
		<key>ccbResources/LotteryScene/icon_nine.png</key>
		<dict>
			<key>frame</key>
			<string>{{381, 415}, {52, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 53}}</string>
			<key>sourceSize</key>
			<string>{52, 53}</string>
		</dict>
		<key>ccbResources/LotteryScene/item_icon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 425}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/LotteryScene/item_icon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{639, 342}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ccbResources/LotteryScene/txt_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{168, 1776}, {293, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {293, 41}}</string>
			<key>sourceSize</key>
			<string>{294, 42}</string>
		</dict>
		<key>ccbResources/LotteryScene/txt_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 299}, {258, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {258, 41}}</string>
			<key>sourceSize</key>
			<string>{258, 41}</string>
		</dict>
		<key>ccbResources/LotteryScene/txt_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1826}, {220, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {220, 42}}</string>
			<key>sourceSize</key>
			<string>{220, 42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>LotteryScene.png</string>
	</dict>
</dict>
</plist>
