<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/NewHeroLayer/bg_hero_name.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 859}, {616, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {616, 71}}</string>
			<key>sourceSize</key>
			<string>{616, 71}</string>
		</dict>
		<key>ccbResources/NewHeroLayer/bg_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {856, 856}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {856, 856}}</string>
			<key>sourceSize</key>
			<string>{856, 856}</string>
		</dict>
		<key>ccbResources/NewHeroLayer/test_hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1477}, {231, 254}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {231, 254}}</string>
			<key>sourceSize</key>
			<string>{231, 254}</string>
		</dict>
		<key>ccbResources/NewHeroLayer/txt_new_hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{74, 859}, {582, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {582, 71}}</string>
			<key>sourceSize</key>
			<string>{586, 75}</string>
		</dict>
		<key>ccbResources/NewHeroLayer/txt_new_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{147, 859}, {582, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {582, 71}}</string>
			<key>sourceSize</key>
			<string>{586, 75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>NewHeroLayer.png</string>
	</dict>
</dict>
</plist>
